*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #5e81ac;
  --accent: #d08770;
  --red: #bf616a;
  --yellow: #ebcb8b;
  --purple: #b48ead;
  --green: #a3be8c;
  --dark: #434c5e;
  --dark-2: #69707e;
  --light: #f2f4f8;
  --light-2: #d8dee9;
  --white: #fff;
}

a:link {
  text-decoration: none;
  color: inherit;
}

body {
  font: 400 14px/1.5 Inter, sans-serif;
  color: var(--dark-2);
}

h1,
h2,
h3 {
  color: var(--dark);
}

.container {
  width: min(91%, 1140px);
  margin: 0 auto;
}

header {
  padding-block: 10px;
  background-color: var(--primary);
  margin-block-end: 20px;
}

.primary-heading {
  color: var(--light);
}

.dialog {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border: 1px solid var(--dark-2);
  border-radius: 4px;
}

.dialog::backdrop {
  background-color: hsla(220, 17%, 32%, 0.5);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
  padding: 15px 30px;
  overflow: visible;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-column: span 2;
  position: relative;
}

.form__row--half {
  grid-column: span 1;
}

.form__label {
  font-size: 12px;
  font-weight: 700;
  color: var(--dark);
}

.form__input {
  border: 1px solid var(--dark-2);
  border-radius: 4px;
  color: var(--dark);
  font-family: inherit;
  padding: 6px 12px;
  background-color: var(--light);
  width: 100%;
}

.form__input:user-invalid {
  border-color: var(--red);
}

.form__input:user-invalid:focus {
  outline-color: var(--red);
}

.form__input:user-invalid + .error {
  display: block;
}

.error {
  display: none;
  color: var(--red);
  font-size: 10px;
  position: absolute;
  top: 100%;
}

textarea.form__input {
  padding: 12px;
  height: 200px;
  resize: none;
}

.form .btn {
  margin-block-start: 20px;
  border-radius: 4px;
}

.btn.btn--submit {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--light);

  /* align-self: center; */
}

.btn.btn--cancel {
  background-color: transparent;
  border: 1px solid var(--primary);
  /* align-self: center; */
}

.form .btn {
  margin-block-start: 20px;
  border-radius: 4px;
  padding-block: 10px;
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  justify-content: start;
  gap: 20px 40px;
  padding-block: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.book:hover .book__controls {
  transform: translateY(0);
  opacity: 1;
}

.finished::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '✅';
}

.book__img-box {
  overflow: hidden;
  aspect-ratio: 6/8;
  width: 100%;
}

.book__img {
  width: 100%;
}

.book__title {
  font-size: 12px;
}

.book__author {
  font-size: 10px;
  color: var(--dark-2);
  margin-block-start: -4px;
}

.book__controls {
  position: absolute;
  height: 84%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  color: var(--light);
  background-color: hsla(220, 17%, 32%, 0.75);
  transform: translateY(100%);
  opacity: 0;
}

.book__controls i:hover {
  color: var(--yellow);
}

.book-detail {
  margin-block: 20px 40px;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 60px;
}

.book-detail__info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 10px 20px;
}

.book-detail__info dt {
  font-weight: 700;
  color: var(--dark);
}

.book-detail__img {
  aspect-ratio: 6/8;
  display: block;
}

.book-detail__img img {
  width: 100%;
}

.btn {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 18px;
  min-width: 86px;
  border: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn--primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green);
}
